<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <!-- <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a ui-sref="main">Home</a></li>
      <li><a ui-sref="nearby">Nearby</a></li>
      <li><a ui-sref="account">Account</a></li>
    </ul>
  </div> -->
  <div class="row">
    <div class="col-md-6">
      <h4>Popular Krawls</h4>
      <ul class="list-unstyled list-crawls">
        <li class="list-crawl" ng-repeat="crawl in crawls.popular">
          <a ui-sref="crawls.page({ id: crawl._id })">{{crawl.name}}</a>
          <ul class="list-inline">
            <li>{{crawl.bars.length}} bars</li>
            <li>{{crawl.participants.length}} participants</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="user-crawls" ng-if="isLoggedIn">
        <h4>Your crawls</h4>
        <ul class="list-unstyled">
          <li ng-show="user.crawls.length == 0">
            <p>You don't have any crawls :(</p>
            <button class="btn btn-primary" ui-sref="crawls.create">Create a crawl</button>
          </li>
          <li ng-repeat="crawl in user.crawls">
            <a ui-sref="crawls.page({ id: crawl._id }})">{{crawl.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <ul class="list-inline">
      <li>CalHacks Fall '14</li>
      <li><a href="https://github.com/jketcham">@jketcham</a></li>
      <li><a href="https://github.com/ctimmins">@ctimmins</a></li>
      <li><a href="https://github.com/johntran">@johntran</a></li>
      <li><a href="https://github.com/thedude63">@thedude63</a></li>
    </ul>
  </div>
</footer>
