/**
 * Google Maps Container
 */
.leaflet-control-layers-toggle {
  background-image: url(/assets/images/leaflet/layers.png);
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(/assets/images/leaflet/layers-2x.png);
  background-size: 26px 26px;
}